---
import Navbar from '../components/Navbar.astro'
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>experience - cristodca developer</title>
    <link rel="stylesheet" href="/global.css">
	</head>
	<body class="bg-light dark:bg-dark">
    <Navbar />
    <main>
      <div class="container mx-auto p-4">
        <h1 class="text-dark dark:text-light text-3xl text-center font-bold mb-8">My experience</h1>

        <ul class="flex flex-col text-base gap-16 text-dark dark:text-light list-disc list-inside mb-32">
          <li>
            <small>2022 - actuallity</small>
            <p class="mb-4">
              <strong>Frontend Engineer</strong> at <a class="underline" href="https://www.contalink.com/" target="_blank" rel="noopener noreferrer">Contalink</a>
            </p>
            <p>
              Working on the development of the sales website and several UX/UI improvements on the main product.
            </p>
          </li>
          <li>
            <small>2020 - 2022</small>
            <p class="mb-4">
              <strong>Frontend Developer</strong> at <a class="underline" href="https://f4d.com.mx/" target="_blank" rel="noopener noreferrer">F4D</a>
            </p>
            <p>
              Worked developing the frontend of several projects, like landing pages, web apps, e-commerce, CRMs and more.
            </p>
          </li>
          <li>
            <small>2019</small>
            <p class="mb-4">
              <strong>Frontend Developer</strong> at Bosch Rexroth
            </p>
            <p>
              Hired by project to develop the interface of a web app for the company's internal use in a new product development.
            </p>
          </li>
        </ul>

        <h2 class="text-dark dark:text-light text-xl text-center font-bold mb-8">
          Education
        </h2>
        <ul class="flex flex-col text-base gap-8 text-dark dark:text-light list-disc list-inside">
          <li>
            <small>2020 - 2023</small>
            <p>
              <strong>Engineer in Software Technologies</strong> at CETI
            </p>
          </li>
          <li>
            <small>2015 - 2019</small>
            <p>
              <strong>Technician in Software Development</strong> at CETI
            </p>
          </li>
        </ul>
      </div>
    </main>
	</body>
</html>
